div.ticTacToeWrapper {
    color: #ebfbbb;
}

div.ticTacToeBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-height: 70vh;
    aspect-ratio: 1/1;
    gap: 1em;
}

div.boardRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30%;
    width: 100%;
    gap: 1em;
}

button.boardButtonField,
button.opponentButton {
    border: 3px solid #fff;
    aspect-ratio: 1/1;
    border-radius: 0.3em;
    background-color: #ebfbbb;
    color: #4a0652;
    font-size: 2em;
    font-weight: bold;
}

/* Choose game opponent section */
.chooseOpponentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button.opponentButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    width: 50%;
    font-size: 1.5em;
    padding: 0.5em;
}

button.opponentButton svg {
    font-size: 2em;
    color: #75c253;
}

.opponentButton:hover svg.ticTacToeSVG {
    color: #4a0652;
}

button.boardButtonField:hover,
button.opponentButton:hover {
    background-color: #afdf88;
    box-shadow: 0px 0px 10px #c4eb93;
    cursor: pointer;
}


@media (max-width: 425px) {
    .chooseOpponentWrapper {
        flex-direction: column;
    }

    button.opponentButton {
        width: 70%;
        font-size: 1.5em;
    }


    button.opponentButton svg {
        font-size: 1.5em;
    }
}