header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav.contentWrapper {
    height: auto;
    justify-content: space-between;
    flex-direction: row;
}

#links-mobile {
    display: none;
}

nav #links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

#links a {
    background-color: rgb(235, 251, 187);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #4a0652;
}

#links a:hover {
    border: 1px solid rgb(235, 251, 187);
    background-color: #4a0652;
    color: rgb(235, 251, 187);
}

@media (max-width: 768px) {
    nav{
        width: 100%;
    }
    nav #links, div#logo {
        display: none;
    }

    #links-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links-wrapper a {
        width: 100%;
        padding: 0.5em 1em;
        background-color: #4a0652;
        color: rgb(235, 251, 187);
        font-weight: bold;
        text-align: center;
    }
    
    .links-wrapper a:hover {
        border: 1px solid #4a0652;
    }
}

