/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Main */
body {
  background: radial-gradient(#9824a5, #4a0652);
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
}

h2 {
  font-size: 3em;
}

a {
  text-decoration: none;
}

svg {
  fill: #ebfbbb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  padding: 2em;
  border-radius: 2em;
  background-color: #ebfbbb;
  color: #4a0652;
  font-size: 1.2em;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  background-color: #e1d5e2;
  /* background-color: #dec0e0; */
  color: #4a0652;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  border: 1px solid #4a0652;
}

form input:focus {
  border: 3px solid #4a0652;
}

form div.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form .validationP {
  
}

form input[type="submit"] {
  margin: 1em 30% 0 30%;
  background-color: #4a0652;
  color: rgb(235, 251, 187);
  font-weight: bold;  
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid #4a0652;
}

form input[type="submit"]:hover, form input:disabled {
  background-color: rgb(235, 251, 187);
  color: #4a0652;
}

/* Navigation */
nav img {
  max-width: 4em;
  border-radius: 0.5em;
}

/* Not found page */
#notFoundParagraph {
  font-size: 2.5em;
  color: #ebfbbb;
  margin-bottom: 1em;
}

@media (max-width: 425px) {
  .contentWrapper {
    padding: 0.5em;
    height: 130vh;
  }

  div.cards {
    max-height: 90vw;
  }
}