/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Main */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  height: 100vh;
}

@media (max-width: 425px) {
  body {
    padding: 0.5em;
  }

  div.cards {
    max-height: 90vw;
  }
}