/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

/* Main */
#root{
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .contentWrapper {
    padding: 0.5em;
    height: 130vh;
  }

  div.cards {
    max-height: 90vw;
  }
}

nav img {
  max-width: 100px;
}